GARDENA_USERNAME=username@provider.com
GARDENA_PASSWORD=pa$$w0rd
GARDENA_APIKEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
MQTT_PORT=8883
MQTT_URL=mqtt://my.server.name
MQTT_TOPIC=gardena
MQTT_SERVER_CERT=/home/cert/server.pem
MQTT_SERVER_KEY=/home/cert/server.key
MQTT_CA_CERT=/home/cert/ca.pem