# MINIMUM Sample Requirements: Does not support MQTT
# docker-compose change command to: "node examples/console-simple.js"
GARDENA_USERNAME=email@something.com
GARDENA_PASSWORD=pa$$woRd
GARDENA_APIKEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# MEDIUM additional requirements for MQTT
# docker-compose change command to: "node examples/mqtt-simple.js"
# MQTT_PORT=8883
# MQTT_URL=mqtt://my.mqtt.server
# MQTT_PUBLISH_TOPIC=gardena/incoming
# MQTT_SECURE=false

# FULL additional requirements for MQTT over mTLS
# docker-compose change command to: "node examples/mqtt-secure.js"
# set MQTT_SECURE to true
# TLS_SERVER_CERT=/home/cert/server.pem
# TLS_SERVER_KEY=/home/cert/server.key
# TLS_CA_CERT=/home/cert/ca.pem